h5/node_modules
.DS_Store
**/*/.DS_Store
**/*/build
**/*/UniBoost
**/*/Pods
!.npmrc

## OC
xcuserdata/
*.xcscmblueprint
*.xccheckout

DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcworkspace
lerna-debug.log
swagger.config.js
devTools/x-mock/bin/cache/cache
devTools/x-mock/cache
microApps/navigator-demo/node_modules
node_modules
app/App-B-Android/app/bugly
app/App-B-Android/app/uat
