<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jsi.legacy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <meta-data
            android:name="com.zkty.jsi.legacy.router"
            android:value="com.zkty.jsi.legacy.router.JSIOldRouterModule" />

        <meta-data
            android:name="com.zkty.jsi.legacy.nav"
            android:value="com.zkty.jsi.legacy.nav.JSIOldNavModule" />

        <meta-data
            android:name="com.zkty.jsi.legacy.localstorage"
            android:value="com.zkty.jsi.legacy.localstorage.JSIOldLocalstorageModule" />
        <meta-data
            android:name="com.zkty.jsi.legacy.device"
            android:value="com.zkty.jsi.legacy.device.JSIOldDeviceModule" />


    </application>
</manifest>
