<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="module.nav">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data
            android:name="com.zkty.module.nav"
            android:value="com.zkty.modules.loaded.jsapi.__xengine__module_nav" />
    </application>
</manifest>
