<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="module.engine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.zkty.modules.engine.activity.XEngineWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranTheme" />

        <activity
            android:name="com.zkty.modules.engine.imp.activity.ImagePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zkty.modules.engine.imp.activity.ImagePreActivity"
            android:screenOrientation="portrait" />


    </application>


</manifest>
