<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="module.device">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--<uses-permission android:name="android.permission.SEND_SMS" />-->


    <application>
        <meta-data
            android:name="com.zkty.module.device"
            android:value="com.zkty.modules.loaded.jsapi.__xengine__module_device" />
    </application>
</manifest>
