<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="module.dcloud">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.support.FILE_PROVIDER_PATHS" />

    <application>

        <meta-data
            android:name="com.zkty.module.dcloud"
            android:value="com.zkty.modules.loaded.jsapi.__xengine__module_dcloud" />


        <activity
            android:name="io.dcloud.PandoraEntry"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|fontScale"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:process=":io.dcloud.unimp"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="io.dcloud.feature.sdk.DCUniMPActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|fontScale|keyboard"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:permission="com.miui.securitycenter.permission.AppPermissionsEditor"
            android:process=":io.dcloud.unimp"
            android:screenOrientation="portrait"
            android:theme="@style/DCloudTheme"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="io.dcloud.feature.sdk.AloneTaskPandoraEntry"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|fontScale"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:process=":io.dcloud.unimp"
            android:screenOrientation="portrait"
            android:taskAffinity=":io.dcloud.unimp"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="io.dcloud.feature.sdk.DCUniMPAloneTaskActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|fontScale|keyboard"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:permission="com.miui.securitycenter.permission.AppPermissionsEditor"
            android:process=":io.dcloud.unimp"
            android:screenOrientation="portrait"
            android:taskAffinity=":io.dcloud.unimp"
            android:theme="@style/DCloudTheme"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:screenOrientation" />

    </application>
</manifest>
