<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZKHome.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3794C813F843ECBCE09A2B7B7F4A4D45B0DB3CA4</string>
				<key>dateExpires</key>
				<string>2023/2/8</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3794C813F843ECBCE09A2B7B7F4A4D45B0DB3CA4</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LopeKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D98ZZZNWR2</string>
						<key>name</key>
						<string>ShiDaiLinLiBang Technology Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D98ZZZNWR2.com.linlibang.NeighbourhoodStateTestDP</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>D98ZZZNWR2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ZKHome.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>df43dbbe-2aea-46e5-b412-a56ed5422104</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.linlibang.NeighbourhoodStateTestDP</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D98ZZZNWR2</string>
				<key>name</key>
				<string>ShiDaiLinLiBang Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
