<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nativ.scan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <meta-data
            android:name="com.zkty.native.scan"
            android:value="com.zkty.nativ.scan.Nativescan" />
        <activity android:name="com.zkty.nativ.scan.activity.ScanActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
