<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="module.viewer-orgi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <meta-data
            android:name="com.zkty.native.viewer-orgi"
            android:value="com.zkty.nativ.viewer-orgi.Nativeviewer-orgi" />
    </application>
</manifest>
