<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nativ.jsi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.zkty.nativ.jsi.view.XEngineWebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"
            android:theme="@style/TranTheme" />

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" >
        </service>



            <meta-data
                android:name="com.zkty.native.jsi"
                android:value="com.zkty.nativ.jsi.JSIContext" />


    </application>
</manifest>
