<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="module.direct_rn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <meta-data
            android:name="com.zkty.native.direct_rn"
            android:value="com.zkty.nativ.direct_rn.Nativedirect_rn" />
    </application>
</manifest>
