<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="module.viewer_original">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <meta-data
            android:name="com.zkty.native.viewer_original"
            android:value="com.zkty.nativ.viewer_original.Nativeviewer_original" />

        <activity android:name="com.zkty.nativ.viewer_original.activity.PreViewActivity"
            android:screenOrientation="portrait"
            />

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" >
        </service>
    </application>
</manifest>
