<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="module.router">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>

        <meta-data
            android:name="com.zkty.module.router"
            android:value="com.zkty.modules.loaded.jsapi.__xengine__module_router" />
    </application>
</manifest>
